@import './abstracts/colors';
@import './abstracts/fonts' ;

.Hero {
  width: 100%;
  height: 46rem;
  background-image: url('../assets/images/hero-bg.webp');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  .header {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  
    .logo {
      font-family: $fontLogo;
      aspect-ratio: 1;
      font-size: 2.75rem;
      display: flex;
      justify-content: center;
      color: $white;
      background-color: $black;
      border-radius: 100%;
      padding: 0.5rem;
    }
    .line {
      width: calc(100% + 2em);
      height: 1px;
      background-color: $black;
      margin: 2em 0 0.5em 0;
    }
  }
}