@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300&family=Scheherazade+New&display=swap');

$fontLogo: 'Oswald', sans-serif;
$fontBody: 'Quicksand', sans-serif;
$fontHeading: 'Scheherazade New', serif;